.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  &_nav {
    width: 100%;
    border: blue;
    border-style: dashed;
  }
  &_main {
    width:100%;
    border-color: red;
    border-style: dashed;
  }
  &_footer {
    width:100%;
    border-color: green;
    border-style: dashed;
  }
}