.fs-navigation {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &_section-left {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
  }

  &_section-right {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: flex-end;
  }
}